*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
	left: 77px;
	top: 69px;
	animation: lightSpeedInLeft 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_3 {
	position: absolute;
	left: 393px;
	top: 591px;
	animation: lightSpeedInRight 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_4 {
	position: absolute;
	left: 523px;
    top: 228px;
	height: 269px;
	width: 269px;
	animation: rotating 20s infinite;
	transform-origin: 50% 50%;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_5 {
	position: absolute;
	left: 562px;
    top: 267px;
    width: 191px;
    height: 191px;
	animation: rotatingUlta 10s infinite;
	transform-origin: 50% 50%;
	animation-delay: 0.7s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_6 {
	position: absolute;
	left: 637.5px;
	top: 341.35px;
	animation: zoomInOut 5s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.rotating {
	-webkit-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotatingUlta /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotatingUlta {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotatingUlta {
	-webkit-animation: rotatingUlta 2s linear infinite;
	animation: rotatingUlta 2s linear infinite;
}

@-webkit-keyframes zoomInOut {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
	-webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to
  {
	opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes zoomInOut {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to
  {
	opacity: 1;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.animate__zoomInOut {
  -webkit-animation-name: zoomInOut;
  animation-name: zoomInOut;
}