*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 907px;
  top: 705px;
  width: 75px;
  height: 26px;
	animation: flashLong 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 52px;
  top: 202px;
  width: 280px;
  height: 106px;
	animation: zoomIn 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transform-origin: bottom right;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 229px;
  top: 70px;
  width: 599px;
  height: 210px;
	animation: zoomIn 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	transform-origin: bottom right;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 412px;
  top: 303px;
  width: 309px;
  height: 92px;
	animation: zoomIn 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	transform-origin: top left;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 581px;
  top: 425px;
  width: 323px;
  height: 181px;
	animation: zoomIn 0.5s;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	transform-origin: top right;
	z-index: 5;
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}