*{
	margin: 0px;
	padding: 0px;
}

.s7_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s7_2 {
	position: absolute;
  left: 140px;
  top: 45px;
  width: 766px;
  height: 195px;
	animation: zoomIn 1s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 2;
}

.s7_3 {
	position: absolute;
  left: 57px;
  top: 286px;
  width: 910px;
  height: 345px;
	animation: fadeInLeft 1s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_4 {
	position: absolute;
  left: 537px;
  top: 286px;
  width: 910px;
  height: 345px;
	animation: fadeInRight 1s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s7_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s7_pop1 {
	position: absolute;
	height: 90px;
	width: 120px;
	right: 30px;
	bottom: 0px;
	z-index: 15;
}

.s7_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}