* {
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.option1 {
  position: absolute;
  left: 96px;
  top: 307px;
  width: 392px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option2 {
  position: absolute;
  left: 536px;
  top: 307px;
  width: 392px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option3 {
  position: absolute;
  left: 316px;
  top: 390px;
  width: 521px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option30 {
  position: absolute;
  left: 316px;
  top: 390px;
  width: 521px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option4 {
  position: absolute;
  left: 536px;
  top: 390px;
  width: 392px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}

.option5 {
  position: absolute;
  left: 316px;
  top: 474px;
  width: 392px;
  height: 59px;
  animation: none 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  display: none;
  z-index: 5;
}