*{
	margin: 0px;
	padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: -55px;
  top: 530px;
  width: 239px;
  height: 92px;
  transition-delay: 0.5s;
  transition-duration: 3s;
  transform: translate(250px, 75px);
  z-index: 6;
}

.s1_3 {
  position: absolute;
  left: -56px;
  top: 515px;
  width: 251px;
  height: 25px;
  transition-delay: 0.5s;
  transition-duration: 3s;
  transform: translate(250px);
  z-index: 7;
}

.s1_4 {
  position: absolute;
  left: -53px;
  top: 435px;
  width: 238px;
  height: 90px;
  transition-delay: 0.5s;
  transition-duration: 3s;
  transform: translate(250px, -90px);
  z-index: 8;
}

.s1_5 {
  position: absolute;
  left: 240px;
  top: 615px;
  width: 164px;
  height: 85px;
  animation: fadeOut 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_6 {
  position: absolute;
  left: 240px;
  top: 483px;
  width: 164px;
  height: 85px;
  animation: fadeOut 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_7 {
  position: absolute;
  left: 240px;
  top: 350px;
  width: 164px;
  height: 85px;
  animation: fadeOut 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_8 {
  position: absolute;
  left: 240px;
  top: 615px;
  width: 196px;
  height: 85px;
  animation: fadeIn 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 5;
}

.s1_9 {
  position: absolute;
  left: 240px;
  top: 483px;
  width: 196px;
  height: 85px;
  animation: fadeIn 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 5;
}

.s1_10 {
  position: absolute;
  left: 240px;
  top: 350px;
  width: 196px;
  height: 85px;
  animation: fadeIn 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  opacity: 0;
  z-index: 5;
}

.s1_11_wrap {
  position: absolute;
  left: 444px;
  top: 346px;
  width: 0px;
  height: 348px;
  overflow: hidden;
  animation: growWidth 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_11 {
  position: absolute;
  width: 273px;
  height: 348px;
  z-index: 5;
}


.s1_12 {
  position: absolute;
  left: 729px;
  top: 488px;
  width: 198px;
  height: 198px;
  animation: stampIn 0.3s;
  animation-delay: 4s;
  animation-fill-mode: both;
  z-index: 5;
}

@-webkit-keyframes growWidth {
  0% {
    width: 0px;
	opacity: 1;
  }

  100% {
    width: 273px;
	opacity: 1;
  }
}

@keyframes growWidth {
  0% {
    width: 0px;
	opacity: 1;
  }

  100% {
    width: 273px;
	opacity: 1;
  }
}

.growWidth {
  -webkit-animation-name: growWidth;
  animation-name: growWidth;
}

@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: rotate(-40deg) scale(3);
		opacity: 0.5;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: rotate(-30deg) scale(2);
		opacity: 0.5;
	}
	100% {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}
