@charset "utf-8";
/* CSS Document */

/*------- DELAY CLASS ----------*/

.animation-delay-750 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.5s;
}

.animation-delay-1000 {
  -webkit-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

.animation-delay-1200 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.animation-delay-1700 {
  -webkit-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.animation-delay-2200 {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.animation-delay-2700 {
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.animation-delay-3000 {
  -webkit-animation-delay: 3.0s;
  animation-delay: 3.0s;
}

.animation-delay-3200 {
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}

.animation-delay-3700 {
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}

.animation-delay-4200 {
  -webkit-animation-delay: 4.2s;
  animation-delay: 4.2s;
}

/*------- DELAY CLASS ----------*/

/*------- STRUCTURE CLASS -----------*/
.container{
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
}

.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    z-index: -1;
}


.bg img{width:100%; height: 100%;}

.black-mask{
	position: absolute;
	background-color:rgba(0,0,0,0.85);
	width: 1024px;
	height: 768px;
	z-index: 20;
}

.btn_close {
  position: absolute;
  /*left: 963px;*/
  left: 1124px;
  top: 13px;
  width: 44px;
  height: 44px;
  z-index: 10;
}



/*------- STRUCTURE CLASS -----------*/

/*------- ALL SLIDE CLASSES -----------*/

.scr01_02 {
  position: absolute;
  left: 78px;
  top: 264px;
  width: 332px;
  height: 406px;
  z-index: 3;
}

.scr01_03 {
  position: absolute;
  left: 468px;
  top: 264px;
  width: 485px;
  height: 409px;
  z-index: 4;
}

.scr01_04 {
  position: absolute;
  left: 832px;
  top: 442px;
  width: 174px;
  height: 164px;
  z-index: 5;
}

.scr01_05 {
  position: absolute;
  left: 238px;
  top: 702px;
  width: 596px;
  height: 52px;
  z-index: 6;
}

.scr02_02 {
  position: absolute;
  left: 283px;
  top: 216px;
  width: 458px;
  height: 509px;
  z-index: 15;
}

.scr02_03 {
  position: absolute;
  left: 36px;
  top: 174px;
  width: 297px;
  height: 203px;
  z-index: 16;
}

.scr02_04 {
  position: absolute;
  left: 692px;
  top: 174px;
  width: 280px;
  height: 203px;
  z-index: 17;
}

.scr02_05 {
  position: absolute;
  left: 741px;
  top: 442px;
  width: 168px;
  height: 218px;
  z-index: 18;
}

.scr02_06 {
  position: absolute;
  left: 66px;
  top: 444px;
  width: 228px;
  height: 214px;
  z-index: 19;
}

.scr02_07 {
  position: absolute;
  left: 59px;
   top: 50px;
   width: 906px;
  height: 668px;
  z-index: 21;
}
.scr02_08 {
  position: absolute;
  left: 59px;
  top: 50px;
  width: 906px;
  height: 668px;
  z-index: 22;
}
.scr02_09 {
  position: absolute;
  left: 59px;
   top: 50px;
   width: 906px;
  height: 668px;
  z-index: 23;
}

.scr02_10 {
  position: absolute;
  left: 59px;
   top: 50px;
   width: 906px;
  height: 668px;
  z-index: 24;
}





.scr03_02 {
  position: absolute;
  left: 146px;
  top: 296px;
  width: 304px;
  height: 410px;
  z-index: 25;
}

.scr03_03 {
  position: absolute;
  left: 552px;
  top: 384px;
  width: 382px;
  height: 142px;
  z-index: 26;
}



.scr04_02 {
  position: absolute;
  left: 66px;
  top: 378px;
  width: 912px;
  height: 190px;
  z-index: 40;
}

.scr04_03 {
  position: absolute;
 left: 835px;
  top: 420px;
  width: 106px;
  height: 149px;
  z-index: 41;
}

.scr04_04 {
  position: absolute;
  left: 138px;
  top: 616px;
  width: 784px;
  height: 128px;
  z-index: 42;
}

.scr04_05 {
  position: absolute;
  left: 564px;
  top: 476px;
  width: 402px;
  height: 219px;
  z-index: 43;
}

.scr04_06 {
  position: absolute;
  left: 392px;
  top: 610px;
  width: 240px;
  height: 99px;
  z-index: 44;
}

.scr04_07 {
  position: absolute;
  left: 63px;
  top: 727px;
  width: 782px;
  height: 17px;
  z-index: 45;
}

.scr05_02 {
  position: absolute;
  left: 42px;
  top: 377px;
  width: 830px;
  height: 349px;
  z-index: 46;
}

.scr05_03 {
  position: absolute;
  left: 345px;
  top: 356px;
  width: 619px;
  height: 277px;
  z-index: 47;
}

.scr06_02 {
  position: absolute;
  left: 42px;
  top: 359px;
  width: 922px;
  height: 181px;
  z-index: 48;
}
.scr06_03 {
  position: absolute;
  left: 798px;
  top: 384px;
  width: 147px;
  height: 156px;
  z-index: 49;
}

.scr06_04 {
  position: absolute;
  left: 118px;
  top: 604px;
  width: 781px;
  height: 127px;
  z-index: 50;
}


.scr07_02 {
  position: absolute;
  left: 47px;
  top: 377px;
  width: 740px;
  height: 349px;
  z-index: 52;
}

.scr07_03 {
  position: absolute;
  left: 345px;
  top: 356px;
  width: 620px;
  height: 300px;
  z-index: 53;
}

.scr08_02 {
  position: absolute;
  left: 42px;
  top: 377px;
  width: 814px;
  height: 353px;
  z-index: 54;
}

.scr08_03 {
  position: absolute;
  left: 345px;
  top: 356px;
  width: 620px;
  height: 300px;
  z-index: 55;
}

.scr09_02 {
  position: absolute;
  left: 302px;
  top: 405px;
  width: 412px;
  height: 334px;
  z-index: 59;
}

.scr09_03 {
  position: absolute;
  left: 96px;
  top: 359px;
  width: 370px;
  height: 366px;
  z-index: 58;
}

.scr09_04 {
  position: absolute;
  left: 552px;
  top: 361px;
  width: 366px;
  height: 353px;
  z-index: 57;
}

.scr10_02 {
  position: absolute;
  left: 79px;
  top: 323px;
  width: 747px;
  height: 415px;
  z-index: 62;
}

.scr10_03 {
  position: absolute;
  left: 565px;
  top: 348px;
  width: 402px;
  height: 283px;
  z-index: 63;
}

.scr11_02 {
  position: absolute;
  left: 62px;
  top: 287px;
  width: 913px;
  height: 244px;
  z-index: 65;
}

.scr11_03 {
  position: absolute;
  left: 83px;
  top: 550px;
  width: 850px;
  height: 86px;
  z-index: 66;
}

.scr11_04 {
  position: absolute;
  left: 213px;
  top: 671px;
  width: 596px;
  height: 69px;
  z-index: 67;
}


/*------- ALL SLIDE CLASSES -----------*/

.popup05_click_01 {
  position: absolute;
  left: 162px;
  top: 166px;
  width: 152px;
  height: 156px;
  z-index: 833;
}

.popup05_click_02 {
  position: absolute;
  left: 716px;
  top: 160px;
  width: 152px;
  height: 156px;
  z-index: 834;
}

.popup05_click_03 {
  position: absolute;
  left: 741px;
  top: 436px;
  width: 152px;
  height: 156px;
  z-index: 835;
}

.popup05_click_04 {
  position: absolute;
  left: 149px;
  top: 476px;
  width: 152px;
  height: 156px;
  z-index: 836;
}

.popup05_close_btn {
 position: absolute;
 left: 880px;
 top: 44px;
 width: 85px;
  height: 88px; 
  z-index: 1910;
}
