* {
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.mask {
  position: absolute;
  left: 241px;
  top: 146px;
  width: 541px;
  height: 146px;
  overflow: hidden;
  z-index: 5;
}

.logo {
  position: absolute;
  animation: fadeInDown 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 4;
}