*{
	margin: 0px;
	padding: 0px;
}

.s6_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s6_2 {
	position: absolute;
  left: 97px;
  top: 61px;
  width: 782px;
  height: 247px;
	animation: zoomIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s6_3 {
	position: absolute;
  left: 35px;
  top: 299px;
  width: 296px;
  height: 238px;
	animation: fadeInLeft 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s6_4 {
	position: absolute;
  left: 362px;
  top: 499px;
  width: 297px;
  height: 230px;
	animation: fadeInUp 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_5 {
	position: absolute;
  left: 704px;
  top: 299px;
  width: 296px;
  height: 238px;
	animation: fadeInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_6 {
	position: absolute;
  left: 365px;
  top: 371px;
  width: 295px;
  height: 121px;
	animation: zoomIn 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_7 {
	position: absolute;
  left: 516px;
  top: 327px;
  width: 143px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 4.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s6_9 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s6_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s6_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}