*{
	margin: 0px;
	padding: 0px;
}

.s9_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_2 {
	position: absolute;
  left: 152px;
  top: 54px;
  width: 730px;
  height: 262px;
	animation: zoomIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 4;
}

.s9_3 {
	position: absolute;
  left: 69px;
  top: 383px;
  width: 901px;
  height: 279px;
	animation: fadeInDownSmall 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_4 {
	position: absolute;
  left: 54px;
  top: 453px;
  width: 420px;
  height: 65px;
	animation: flipInX 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_5 {
	position: absolute;
  left: 544px;
  top: 453px;
  width: 420px;
  height: 65px;
	animation: flipInX 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_6 {
	position: absolute;
  left: 54px;
  top: 596px;
  width: 420px;
  height: 64px;
	animation: flipInX 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_7 {
	position: absolute;
  left: 544px;
  top: 595px;
  width: 420px;
  height: 65px;
	animation: flipInX 1s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_8 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s9_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}